.dimWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.createProjectContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.modalActions {
  display: flex;
  justify-content: space-around;
}

.buttonCancel {
  background-color: #fff;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #287ec4;
  border-radius: 10px;
  border: 1px solid #287ec4;
  width: 45%;
}

.buttonSave {
  background-color: #287ec4;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 10px;
  width: 45%;
}
