@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #cacaca;
  padding: 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  color: #333;
  font-weight: bold;
  text-align: left;
  padding: 10px 15px;
  border-bottom: 2px solid #90caf9;
}

tbody td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}
